.todo {
    background-color: #001e39;
    color: #ffffff;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-edit {
    background-color: #001e39;
    color: #ffffff;
    border: none;
    outline: none;
}